html{
	font-size: 16px;
	font-family: 'Pangolin', Arial, sans-serif;
	overflow-x: hidden;
	min-width: 320px;
}

body {
	color: #000000;
	background-color: #ffffff;
}	
p, li, figcaption, #multi-lines{
	font-family: 'Pangolin', Arial, sans-serif;
	font-size: 1rem;	
}
h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-family: 'Pangolin', Arial, sans-serif;
}	
section h2{
	font-size: 3rem;
}
section .section-heading{
	text-align: center;
	margin-bottom: 3rem;
}
button{
	color: #5876b3;
	font-family: 'Pangolin', Arial, sans-serif;
}
footer {
    padding: 1rem 0;
}
.hameid-loader-overlay {
    width: 100%;
    height: 100%;
    background: url('../img/preloader.gif') center no-repeat #FFF;
    background-size: 250px 188px;
    z-index: 99999;
    position: fixed;
}
/*-------------------- navbar -------------------------*/
.navbar {
	padding: 0 1rem;
}	
#mainNav.navbar-shrink{
	padding-bottom: 0;
}
#mainNav {
    border-bottom: 2px solid #000000;
    background-color:#ffffff; 
}
#mainNav .navbar-brand {
    font-family: 'Pangolin', Arial, sans-serif;
}
#mainNav .navbar-toggler {
     color: #000000;
     border: none; 
     font-size: 1.5rem;
}

#mainNav a {
	font-family: 'Pangolin', Arial, sans-serif;
	font-size: 1.5rem;
    color: #000000;
    border-bottom: 2px solid transparent;
	margin: 0 2px
}
#mainNav a:hover {
	border-bottom: 2px solid #000000;
}
#mainNav .nav-link.active {
    border-bottom: 3px solid #000000;
} 
/*-------------------- home -------------------------*/
#moving-helicopter{
    position: absolute;
    left: 0;
    right: 50%;
    top: 8vh;
    z-index: 99;
    -webkit-animation-duration: 19s;
    -webkit-animation-iteration-count: infinite;
}
.masthead .intro-body{
	text-align: center;
}
.masthead .intro-body h1{
/*	position: absolute;
	top:-10%;*/
	font-size: 2.5rem;
	padding-bottom: 5rem;
}	
/*-------------------- about -------------------------*/
#about-author{
	height: 100vh;
	background-image: url('../img/about/about-me-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: auto 100vh; 
}
#about-author h2{
	padding-top: 12vh;
}
.more-btn{
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    -webkit-animation-iteration-count: infinite;
}
.more-btn:focus{
	outline:none;
}	
#left-bubble{
	text-align: center;
	width: 25vw;
	height: 130px;
	margin-top: 10%;
	margin-left: 20%;
	padding-top: 20px;
	padding-right: 35px;
	background-image: url('../img/about/left-bubble.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto; 
}
#left-bubble p{
	font-size: 2.2vw;
}
#right-bubble{
	text-align: center;
	width: 23vw;
	height: 130px;
	margin-left: 57%;
	padding-top: 35px;
	padding-left: 25px;
	background-image: url('../img/about/right-bubble.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}
#right-bubble p{
	font-size: 2.2vw;
}
/* ---- about-web-design --- */
#front-end-developer{
	height: 100vh;
}
#about-web-design{
	background-color: #ffffff;
	position: absolute;
	left: 0;
	width:67vw;
	z-index: 199;
}
#about-web-design h2{
	padding-top: 7vh;
	color: #5876b3;
	font-size: 2.5rem;
}
#concept{
	padding: 2vh 7vw;
}
.developer-icons{
	width: 13vw;
	height: auto;
}
#about-web-design figcaption{
	padding-top: 2vh;
	font-size: 1.5rem;
	color: #5876b3;
}
#code{
	padding: 2vh 2vw 0 9vw;
}
#code p, #multi-lines{
	color: #5876b3;
	font-size: 1.7rem;
	padding-bottom: 0;
	margin-bottom: 0;
}
#multi-lines{
	padding-left:4vw;
}
.back-to-about{
	padding: 1vw;
	background-color: transparent;
	border:none;
	font-size: 1.7rem;
}
.back-to-about:focus, .back-to-about:focus{
	background-color: transparent;
	border:none;
	outline: none;
}
#developer-img{
	position: absolute;
	right: 0;
	height: 100vh;
	background-image: url("../img/about/blue-stroke-vertical.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 33vw;
	overflow: hidden;
}
#developer-img img{
	width:33vw;
	height: auto;
}
/* ---------------------- about Min ---------------------------- */
#about-min{
	height: 100vh;
	background-color: #5876b3;
}
#my-picture{
	position: absolute;
	left: 0;
	height: 100vh;
	background-image: url("../img/about/min.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 33vw;
}
/*#blue-bg{
	position: absolute;
	right: 0;
	height: 100vh;
	width: 67vw;
	background-color: #7593d2;
}*/
#introduction{
	position: absolute;
	right: 0;
	height: 100vh;
	width: 67vw;
	background-image: url("../img/about/word-bubble-1.jpg");
	background-repeat: no-repeat;
	background-size: 67vw 100vh;
	background-position: center;	
	display: flex;
	justify-content: center;
	align-items: center;
}
#introduction p{
	width: 40vw;
	font-size: 1.7rem;
	color: #ffffff;
}
#right-button{
	position: absolute;
	right:0;
	bottom: 0;
	z-index: 200;
}
#right-button button{
	color: #ffffff;
}
/* ---------------------- portfolio ---------------------------- */
#portfolio h2{
	margin-bottom: 2rem;
}
#imac{
	position: relative;
	z-index:2;

}
.mySlides{
	width:30.5rem;
	height: auto;
	margin-top:0.5rem; 
	position:absolute;
	left: 7%;
	top:4%;
}
#nextOne, .portfolio-btn{
	background-color: #FFFFFF;
	border: 2px solid #5876b3;
	font-size: 1.75rem;
	padding:0rem 0.5rem 0rem 0.5rem;
	border-radius: 5px;
	margin: 1rem;
}
#nextOne:hover, .portfolio-btn:hover{
	background-color:#5876b3;
	color:#FFFFFF;
}
#nextOne:focus, .portfolio-btn:focus{
	outline: none;
}	
.project-description{
	padding-top: 1rem;
	text-align: left;
}
.project-description p{
	font-size: 1.2rem;
}
#projectModal{
/*	background-image: url("../img/watercolor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;*/
	background-color: #f8f9fa;
}
.modal-body {
    padding: 0;
}    

.modal-content {
    border: 2px solid #5876b3;
    border-radius: 0rem;
    background-color: transparent;
}    
.close i{
	color: #5876b3;
}
/* ---------------------- contact ---------------------------- */
#contact{
	  background-image: url("../img/watercolor.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	  padding-top: 8rem;
	  padding-bottom: 6rem;
	  background-attachment: fixed;
	  background-position: top;
}  

#contact-heading{
	margin:5rem 0 3rem 0;
}

.icon-size{
	height: 3.5rem;
	width: 3.5rem;
}








/* ---------------------- Resume ---------------------------- */
#personal-info{
	padding-top: 5rem;
	padding-bottom: 1rem;
	background-color: #fbfafa;
  	height: 16rem;
}
#personal-info .container{
	padding: 0;
}
#personal-info p{
	font-size: 1.2rem;
}
#personal-info span{
	padding-left: 9rem;
}
#personal-info .btn{
	padding: 0;
}
.social-media{
	margin-top: 3.5rem;
}
.social-media img{
	height: auto;
	width:4rem;
}
.logo{
	text-align: center;
}
#work-experience .row{
	padding: 2rem 0;
}

#work-experience p, #work-experience li{
	font-size: 1.2rem;
}