html{
	font-size: 16px;
	font-family: 'Pangolin', Arial, sans-serif;
	overflow-x: hidden;
	min-width: 320px;
}

body {
	color: #000000;
	background-color: #ffffff;
}	
p, li, figcaption, #multi-lines{
	font-family: 'Pangolin', Arial, sans-serif;
	font-size: 1rem;	
}
h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-family: 'Pangolin', Arial, sans-serif;
}	
section h2{
	font-size: 3rem;
}
section .section-heading{
	text-align: center;
	margin-bottom: 3rem;
}
button{
	color: #5876b3;
	font-family: 'Pangolin', Arial, sans-serif;
}
footer {
    padding: 1rem 0;
}
.hameid-loader-overlay {
    width: 100%;
    height: 100%;
    background: url('../img/preloader.gif') center no-repeat #FFF;
    background-size: 250px 188px;
    z-index: 99999;
    position: fixed;
}
/*-------------------- navbar -------------------------*/
.navbar {
	padding: 0 1rem;
}	
#mainNav.navbar-shrink{
	padding-bottom: 0;
}
#mainNav {
    border-bottom: 2px solid #000000;
    background-color:#ffffff; 
}
#mainNav .navbar-brand {
    font-family: 'Pangolin', Arial, sans-serif;
}
#mainNav .navbar-toggler {
     color: #000000;
     border: none; 
     font-size: 1.5rem;
}

#mainNav a {
	font-family: 'Pangolin', Arial, sans-serif;
	font-size: 1.5rem;
    color: #000000;
    border-bottom: 2px solid transparent;
	margin: 0 2px
}
#mainNav a:hover {
	border-bottom: 2px solid #000000;
}
#mainNav .nav-link.active {
    border-bottom: 3px solid #000000;
} 
/*-------------------- home -------------------------*/
#moving-helicopter{
    position: absolute;
    left: 0;
    right: 50%;
    top: 8vh;
    z-index: 99;
    -webkit-animation-duration: 19s;
    -webkit-animation-iteration-count: infinite;
}
.masthead .intro-body{
	text-align: center;
}
.masthead .intro-body h1{
	font-size: 2.5rem;
	padding-bottom: 5rem;
}	
/*-------------------- about -------------------------*/
#about-author{
	height: 100vh;
	background-image: url('../img/about/about-me-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: auto 100vh; 
}
#about-author h2{
	padding-top: 12vh;
}
.more-btn{
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    -webkit-animation-iteration-count: infinite;
}
.more-btn:focus{
	outline:none;
}	
#left-bubble{
	text-align: center;
	width: 25vw;
	height: 130px;
	margin-top: 10%;
	margin-left: 20%;
	padding-top: 20px;
	padding-right: 35px;
	background-image: url('../img/about/left-bubble.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto; 
}
#left-bubble p{
	font-size: 2.2vw;
}
#right-bubble{
	text-align: center;
	width: 23vw;
	height: 130px;
	margin-left: 57%;
	padding-top: 35px;
	padding-left: 25px;
	background-image: url('../img/about/right-bubble.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}
#right-bubble p{
	font-size: 2.2vw;
}
/* ---- about-web-design --- */
#front-end-developer{
	height: 100vh;
}
#about-web-design{
	background-color: #ffffff;
	position: absolute;
	left: 0;
	width:67vw;
	z-index: 199;
}
#about-web-design h2{
	padding-top: 7vh;
	color: #5876b3;
	font-size: 2.5rem;
}
#concept{
	padding: 2vh 7vw;
}
.developer-icons{
	width: 13vw;
	height: auto;
}
#about-web-design figcaption{
	padding-top: 2vh;
	font-size: 1.5rem;
	color: #5876b3;
}
#code{
	padding: 2vh 2vw 0 9vw;
}
#code p, #multi-lines{
	color: #5876b3;
	font-size: 1.7rem;
	padding-bottom: 0;
	margin-bottom: 0;
}
#multi-lines{
	padding-left:4vw;
}
.back-to-about{
	padding: 1vw;
	background-color: transparent;
	border:none;
	font-size: 1.7rem;
}
.back-to-about:focus, .back-to-about:focus{
	background-color: transparent;
	border:none;
	outline: none;
}
#developer-img{
	position: absolute;
	right: 0;
	height: 100vh;
	background-image: url("../img/about/blue-stroke-vertical.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 33vw;
	overflow: hidden;
}
#developer-img img{
	width:33vw;
	height: auto;
}
/* ---------------------- about Min ---------------------------- */
#about-min{
	height: 100vh;
	background-color: #5876b3;
}
#my-picture{
	position: absolute;
	left: 0;
	height: 100vh;
	background-image: url("../img/about/min.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 33vw;
}
#introduction{
	position: absolute;
	right: 0;
	height: 100vh;
	width: 67vw;
	background-image: url("../img/about/word-bubble.jpg");
	background-repeat: no-repeat;
	background-size: 67vw 100vh;
	background-position: center;	
	display: flex;
	justify-content: center;
	align-items: center;
}
#introduction p{
	width: 40vw;
	font-size: 1.7rem;
	color: #ffffff;
}
#right-button {
    position: absolute;
    right: 0;
    top: 190%;
    z-index: 200;
}    
#right-button button{
	color: #ffffff;
}
/* ---------------------- portfolio ---------------------------- */
#portfolio{
	margin-top: 5%;
}
#project-video{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
}  
#project-video img{
	width: 60vw;
}	
#project-video video{
	width:60vw;
	height:auto;
	margin: 0;
}
#about-project{
	padding: 0 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url("../img/portfolio/poster.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;	
	text-align: left;
}
#about-project h3{
	font-size: 3rem;
}
#about-project h4{
	font-size: 2rem;
}
#about-project p{
	font-size: 1.2rem;
}
#previous-project{
	position: absolute;
	left: 0;
	top: 0;
	width:50%;	
}
#next-project{
	position: absolute;
	right: 0;
	top: 0;
	width:50%;
}
.portfolio-btn{
	border:1px solid #000000;
    background-image:none;
    background-color:#2d2d2d;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    padding: 15px 0;
}
.portfolio-btn:hover{
	background-color: #4c4c4c;
}
.portfolio-btn:focus{
	outline: none;
}
/* ---------------------- contact ---------------------------- */
#contact{
	height: 100vh;
	width: 100%;
	background-image: url('../img/contact/blue-strokes.jpg');
	background-repeat: no-repeat;
	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover; 
}
#phone{
	height: 100vh;
	background-image: url('../img/contact/iphone.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: auto 100vh;
/*	background-size: 100vw auto;*/
  	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#social-media{
	margin-left: 3vw;
	width: 30%;
}
#social-media a img{
	width: 8vw;
	height:auto;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-delay: 2s;
}
/* ---------------------- Resume ---------------------------- */
#personal-info{
	padding-top: 5rem;
	padding-bottom: 1rem;
	background-color: #fbfafa;
  	height: 16rem;
}
#personal-info .container{
	padding: 0;
}
#personal-info p{
	font-size: 1.2rem;
}
#personal-info span{
	padding-left: 9rem;
}
#personal-info .btn{
	padding: 0;
}
.social-media{
	margin-top: 3.5rem;
}
.social-media img{
	height: auto;
	width:4rem;
}
.logo{
	text-align: center;
}
#work-experience{
	margin-top: 2rem;
}
#work-experience .row{
	padding: 2rem 0;
}

#work-experience p, #work-experience li{
	font-size: 1.2rem;
}