@media only screen and (min-width: 1450px) {
	#left-bubble{
		height: 17vh;
		padding-top: 3vh;
	}
	#right-bubble{
		height: 17vh;
		padding-top: 5vh;		
	}	
}	
@media only screen and (max-width: 1199px) {
	#left-bubble{
		margin-left: 15%;
		width: 28vw;
	}
	#left-bubble p{
		font-size: 1.8rem;
	}
	#right-bubble{
		margin-left: 60%;
	}
	#right-bubble p{
		font-size: 1.8rem;
	}
}
@media only screen and (max-width: 991px) {
	#left-bubble{
		margin-top:13%;
		margin-left: 7%;
		padding-top: 25px;
		width: 32vw;
	}
	#left-bubble p{
		font-size: 1.5rem;
	}
	#right-bubble{
		width: 27vw;
		padding-top: 40px;
		margin-top: -4%;
	}
	#right-bubble p{
		font-size: 1.5rem;
	}
}
@media only screen and (max-width: 850px) {
	#about-author{
		background-size: auto 75vh;
	}
}
@media only screen and (max-width: 768px) {
	#about-author{
		background-image: url('../img/about/about-me-mobile.jpg');
		background-size: auto 100vh;
	}
	#about-author h2 {
	    padding: 10vh 0;
	}
	#left-bubble {
		margin-top:30%;
    	padding-right: 10px;
    	margin-left: 2%;
	    width: 39vw;    	
    }
	#right-bubble {
    	padding-left: 15px;
    	width: 30vw;
    	margin-left: 63%;    
    }
}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 575px) {
	#moving-helicopter{
		top:12vh;
	}	
	#about-author{
		background-size: auto 75vh;
	}
	#left-bubble {
	    margin-left: 2%;
	    padding-top: 35px;
	    width: 40vw;
	}
	#left-bubble p{
		font-size: 1rem;
	}	
	#right-bubble {
    	width: 35vw;
    	padding-top:50px;
    }
	#right-bubble p{
		font-size: 1rem;
	}	
}
@media only screen and (max-width: 414px) {
	#about-author{
		background-size: auto 70vh;
	}
	#left-bubble {
	    margin-top: 30%;
	    margin-left: 1%;
	    padding-top: 40px;
	    width: 41vw;
	}
	#right-bubble {
    	width: 42vw;
    	padding-top:50px;
    	padding-left: 0px;
    	margin-top: -10%;
    	margin-left: 55%;

    }
}
@media only screen and (max-width: 375px) {

}	