@media only screen and (min-width: 1450px) {
	#introduction p{
		font-size: 2rem;
	}
}
@media only screen and (max-width: 1199px) {
	#left-bubble{
		margin-left: 0;
	}
	#left-bubble p{
		font-size: 1.8rem;
	}
	#right-bubble{
		margin-right: 10%;
	}
	#right-bubble p{
		font-size: 1.8rem;
	}
	#about-web-design figcaption {
	    font-size: 1.2rem;
	}
	#code p, #multi-lines{
		font-size: 1.5rem;
	}
	.back-to-about{
		font-size: 1.5rem;
	}
	#introduction p{
		font-size: 1.5rem;
	}
	#about-author h2{
		font-size: 2.5rem;
	}
}
@media only screen and (max-width: 991px) {
	#mainNav {
		-webkit-box-shadow: 0px 15px 31px -14px rgba(66,66,66,0.3);
		-moz-box-shadow: 0px 15px 31px -14px rgba(66,66,66,0.3);
		box-shadow: 0px 15px 31px -14px rgba(66,66,66,0.3);
	}
	#mainNav .nav-link.active {
	    background-size: 100px auto;
	    background-position: left;
	} 
	#mainNav .navbar-toggler:focus{
		outline: none;
	}
	section .section-heading{
		margin-bottom: 1rem;
	}
	#about-author h2{
		left: 40%;
    	right: 38%;
	}
	#left-bubble{
		margin-left: 15%;
	}
	#left-bubble p{
		padding-left: 30px;
	}
	#right-bubble{
		margin-right: 20%;
	}
	#front-end-developer{
		height: auto;
	}
	#concept{
		padding: 2vh 4vw;
	}
	#developer-img{
		position: absolute;
		left:0;
		z-index: 99;
		text-align: center;
		height: 350px;
		background-image: url("../img/about/blue-stroke-horizontal.jpg");
	}
	#about-web-design{
		height: 650px;
		position: relative;
		margin-top: 350px;
	}
	#about-web-design h2 {
    	padding-top: 2rem;
    }	
	#developer-img img{
		width:auto;
		height: 100%;
		position: relative;
		bottom: 0;
	}
	#about-min{
		height: auto;
	}
	#my-picture{
		height: 500px;
		background-image: url("../img/about/min-mobile.jpg");
		background-position: 0% 5%;
	}
	#introduction{
		height: 500px;
		background-image: url("../img/about/word-bubble-mobile.jpg");
	}
	#introduction p{
		width: 70vw;
	}
	#about-project h3{
		font-size: 2rem;
	}
	#about-project h4{
		font-size: 1.5rem;
	}
	#about-project p{
		font-size: 1rem;
	}
	#social-media{
		width: 25%;
	}
	#portfolio{
		height: auto;
		padding: 60px 0;
	}
	.project-description{
		height: auto;
		width: 100%;
		margin-top: 40px;
	}
	.black-btn{
		width: 160px;
	}
	#contact{
  		background-size: auto 100%;
	}
}

@media only screen and (max-width: 850px) {
	#about-author{
		background-size: auto 75vh;
	}
	#left-bubble p{
		font-size: 1.6rem;
	}
	#right-bubble p{
		font-size: 1.6rem;
	}	
}

@media only screen and (max-width: 768px) {
	#about-author{
		background-image: url('../img/about/about-me-mobile.jpg');
		background-size: auto 100vh;
	}
    #my-picture{
		height: 400px;
	}
	#introduction p{
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 767px) {	
	section h2{
		font-size: 2rem;
	}
	.masthead {
		background-image: url(../img/nyc-mobile.jpg);
	}  
	.masthead .intro-body h1{
		font-size: 2rem;
		margin-bottom: 6rem;
		padding-bottom: 0rem;
	}
	#about-web-design h2{
		font-size: 2rem;
	}
	#concept{
		padding: 2vh 0vw;
	}
	#code p, #multi-lines{
		font-size: 1.3rem;
	}
	.back-to-about{
		font-size: 1.3rem;
	}	
	.developer-icons {
	    width: 6rem;
	} 
	#project-video {
    	height: 500px;
    }	
    #about-project{
    	height:480px;
    	padding: 0 20vw;
    	background-image: url("../img/portfolio/poster-mobile.jpg");
    }
	#project-video img{
		width: 85vw;
	}	
	#project-video video{
		width:85vw;
	}
	#social-media{
		width: 45%;
	}	
	#left-bubble p{
		font-size: 1.4rem;
	}
	#right-bubble p{
		font-size: 1.4rem;
	}
	#left-bubble{
		margin-left: 0;
		margin-top: 25%;
	}
	#right-bubble{
		margin-right: 5%;
		margin-top: 0;
	}
	#about-author h2 {
	    left: 30%;
	    right: 30%;
	}
/* =============	resume   =================  */
	#personal-info{
		text-align: center;
		height: 50%;
	}
	.social-media {
	    margin-top: 2rem;
	}
}	

@media only screen and (max-height: 590px) {
	.masthead .intro-body h1{
		position: absolute;
		top:-4.5rem;
		left: 5%;
		right: 5%;
	}	 	
}
@media only screen and (max-width: 575px) {
	.masthead .intro-body h1{
		font-size: 1.8rem;
	}	
	#moving-helicopter{
		top:12vh;
	}	
	#about-author{
		background-size: auto 75vh;
	}
	#about-author .col-6{
		padding-left: 0;
	}
	#about-author .col-5{
		padding-right: 0;
	}
	#about-author h2 {
	    font-size: 2rem;
	    top: 115%;
	}
	#left-bubble{
		margin-top: 35%;
	}
	#right-bubble{
		margin-right: 0;
	}	
	#right-bubble p{
		font-size: 1.3rem;
	}
	#left-bubble p{
		padding-left: 25px;
		font-size: 1.3rem;
	}	
	#developer-img{
		height: 300px;
	}
	#about-web-design{
		height: 700px;
		margin-top: 300px;
	}
	.developer-icons {
	    width: 5rem;
	} 	
	#my-picture{
		height: 300px;
	}
	#introduction {
	    height: 450px;
	}
	#introduction p{
		font-size: 1.1rem;
	}
	#about-project{
		background-size: 110% 90%;
		background-color: #5876b3
	}
	#about-project h3{
		font-size: 1.5rem;
	}
	#about-project h4{
		font-size: 1.2rem;
	}
	#about-project p{
		font-size: 1rem;
	}		
}	
@media only screen and (max-width: 414px) {
	#moving-helicopter img{
		width:140px;
		height: auto;
	}	
	.masthead {
	  background-position: center bottom;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
	  background-attachment: scroll;
	} 	
	#about-author{
		background-size: auto 60vh;
	}
	#about-author h2{
		top: 120%;
	}
	#left-bubble p{
		font-size: 1rem;
	}
	#right-bubble p{
		font-size: 1rem;
    }
	#right-bubble{
		margin-right: 0;
	}    
    #developer-img{
		height: 220px;
	}
    #about-web-design {
    	margin-top: 220px;
    	height: 550px;
    }
	#about-web-design h2 {
    	padding-top: 10px;
    	font-size: 1.5rem;
    }	
	#about-web-design .row{
		margin: 0;
	}	
	#code p, #multi-lines{
		font-size: 1rem;
	}
	.back-to-about{
		font-size: 1rem;
	}	
	#about-web-design figcaption {
	    font-size: 1rem;
	}
	#about-web-design .col-sm-4{
		padding-left: 0;
		padding-right: 0;
	}
	#my-picture {
	    height: 245px;
	}	
	#project-video {
	    height: 300px;
	}
	#project-video img{
		width: 90vw;
	}	
	#project-video video{
		width:90vw;
	}
	#phone{
		background-size: auto 90%;
	}
	#social-media{
		width: 60%;
	}	
	#work-experience img {
	    max-width: 70%;
	    padding-bottom: 2rem;
	}
}

@media only screen and (max-width: 375px) {
	#introduction p{
		font-size: 1rem;
	}
	#code {
	    padding: 0 2vw 0 9vw;
	}
	#about-author .col-5{
		padding-left: 0;
	}
	#about-author .col-1{
		padding: 0;
	}
	#about-author h2{
		font-size: 1.5rem;
	}
}	

@media only screen and (max-width: 320px) {	
	.masthead .intro-body h1{
		font-size: 1.5rem;
	}	
	#left-bubble p{
		padding-left: 15px;
	}
}