@media only screen and (min-width: 1450px) {
	#left-bubble{
		height: 17vh;
		padding-top: 3vh;
	}
	#right-bubble{
		height: 17vh;
		padding-top: 5vh;		
	}	
	#introduction p{
		font-size: 2rem;
	}
}	

@media only screen and (max-width: 1199px) {
	#left-bubble{
		margin-left: 15%;
		width: 28vw;
	}
	#left-bubble p{
		font-size: 1.8rem;
	}
	#right-bubble{
		margin-left: 60%;
	}
	#right-bubble p{
		font-size: 1.8rem;
	}
	#about-web-design figcaption {
	    font-size: 1.2rem;
	}
	#code p, #multi-lines{
		font-size: 1.5rem;
	}
	.back-to-about{
		font-size: 1.5rem;
	}
	#introduction p{
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 991px) {
	#mainNav .navbar-toggler:focus{
		outline: none;
	}
	section .section-heading{
		margin-bottom: 1rem;
	}
	#left-bubble{
		margin-top:13%;
		margin-left: 7%;
		padding-top: 25px;
		width: 32vw;
	}
	#left-bubble p{
		font-size: 1.5rem;
	}
	#right-bubble{
		width: 27vw;
		padding-top: 40px;
		margin-top: -4%;
	}
	#right-bubble p{
		font-size: 1.5rem;
	}
	#front-end-developer{
		height: 130vh;
	}
	#concept{
		padding: 2vh 4vw;
	}
	#developer-img{
		text-align: center;
		height: 40%;
		background-image: url("../img/about/blue-stroke-horizontal.jpg");
		width: 100vw;
		margin-bottom: 5px;
	}
	#about-web-design{
		z-index: 101;
		top: 140%;
		width:100vw;
	}
	#about-web-design h2 {
    	padding-top: 2rem;
    }	
	#developer-img img{
		width:auto;
		height: 40vh;
	}
	#about-min{
		height: auto;
	}
	#my-picture{
		height: 500px;
		background-image: url("../img/about/min-mobile.jpg");
		background-position: 0% 5%;
	}
	#introduction{
		height: 500px;
		background-image: url("../img/about/word-bubble-mobile.jpg");
	}
	#introduction p{
		width: 70vw;
	}
	.portfolio-btn{
		padding: 5px 0;
	}
	#about-project h3{
		font-size: 2rem;
	}
	#about-project h4{
		font-size: 1.5rem;
	}
	#about-project p{
		font-size: 1rem;
	}
	#social-media{
		margin-left: 5vw;
	}
	#social-media a img{
		width: 12vw;
	}
}

@media only screen and (max-width: 850px) {
	#about-author{
		background-size: auto 75vh;
	}
}

@media only screen and (max-width: 768px) {
	#about-author{
		background-image: url('../img/about/about-me-mobile.jpg');
		background-size: auto 100vh;
	}
	#about-author h2 {
	    padding: 10vh 0;
	}
	#left-bubble {
		margin-top:30%;
    	padding-right: 10px;
    	margin-left: 2%;
	    width: 39vw;    	
    }
	#right-bubble {
    	padding-left: 15px;
    	width: 30vw;
    	margin-left: 63%;    
    }
    #my-picture{
		height: 400px;
	}
	#introduction p{
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 767px) {	
	section h2{
		font-size: 2rem;
	}
	.masthead {
		background-image: url(../img/nyc-mobile.jpg);
	}  
	.masthead .intro-body h1{
		font-size: 2rem;
		margin-bottom: 6rem;
		padding-bottom: 0rem;
	}
	#about-web-design h2{
		font-size: 2rem;
	}
	#concept{
		padding: 2vh 0vw;
	}
	#code p, #multi-lines{
		font-size: 1.3rem;
	}
	.back-to-about{
		font-size: 1.3rem;
	}	
	.developer-icons {
	    width: 6rem;
	} 
	#project-video {
    	height: 500px;
    }	
    #about-project{
    	height:480px;
    	padding: 0 20vw;
    	background-image: url("../img/portfolio/poster-mobile.jpg");
    }
    .project-description{
    	margin-top: 25%;
    }
	#project-video img{
		width: 85vw;
	}	
	#project-video video{
		width:85vw;
	}
	#social-media{
		margin-left: 6vw;
		width: 45%;
	}
	#social-media a img{
		width: 15vw;
	}	
/* =============	resume   =================  */
	#personal-info{
		text-align: center;
		height: 50%;
	}
	.social-media {
	    margin-top: 2rem;
	}
}	

@media only screen and (max-height: 590px) {
	.masthead .intro-body h1{
		position: absolute;
		top:-4.5rem;
		left: 5%;
		right: 5%;
	}	 	
}
@media only screen and (max-width: 575px) {
	.masthead .intro-body h1{
		font-size: 1.8rem;
	}	
	#moving-helicopter{
		top:12vh;
	}	
	#about-author{
		background-size: auto 75vh;
	}
	#left-bubble {
	    margin-left: 2%;
	    padding-top: 35px;
	    width: 40vw;
	}
	#left-bubble p{
		font-size: 1rem;
	}	
	#right-bubble {
    	width: 35vw;
    	padding-top:50px;
    }
	#right-bubble p{
		font-size: 1rem;
	}	
	#front-end-developer {
	    height: 140vh;
	}
	.developer-icons {
	    width: 5rem;
	} 	
	.back-to-about {
	    margin-top: 6vh;
	}
	#my-picture{
		height: 300px;
	}
	#introduction p{
		font-size: 1.1rem;
	}
	#about-project{
		background-size: 110% 90%;
		background-color: #5876b3
	}
	.project-description {
	    margin-top: 40%;
	}
	#about-project h3{
		font-size: 1.5rem;
	}
	#about-project h4{
		font-size: 1.2rem;
	}
	#about-project p{
		font-size: 1rem;
	}
	#social-media a img {
	    width: 19vw;
	}		
}	
@media only screen and (max-width: 414px) {
	#moving-helicopter img{
		width:140px;
		height: auto;
	}	
	.masthead {
	  background-position: center bottom;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
	  background-attachment: scroll;
	} 	
	#about-author{
		background-size: auto 60vh;
	}
	#left-bubble {
	    margin-top: 25%;
	    margin-left: 1%;
	    padding-top: 40px;
	    width: 43vw;
	}
	#right-bubble {
    	width: 42vw;
    	padding-top:50px;
    	padding-left: 0px;
    	margin-top: -10%;
    	margin-left: 55%;
    }
    #front-end-developer {
	    height: 130vh;
	}
	#about-web-design h2 {
    	padding-top: 10px;
    }	
	#about-web-design .row{
		margin: 0;
	}	
	#code p, #multi-lines{
		font-size: 1rem;
	}
	.back-to-about{
		font-size: 1rem;
	}	
	#about-web-design figcaption {
	    font-size: 1rem;
	}
	#about-web-design .col-sm-4{
		padding-left: 0;
		padding-right: 0;
	}
	#my-picture {
	    height: 260px;
	}	
	#project-video {
	    height: 300px;
	}
	#project-video img{
		width: 90vw;
	}	
	#project-video video{
		width:90vw;
	}
	.project-description {
	    margin-top: 55%;
	}
	#social-media{
		width: 60%;
	}
	#social-media a img {
	    width: 25vw;
	}	
	#work-experience img {
	    max-width: 70%;
	    padding-bottom: 2rem;
	}
}

@media only screen and (max-width: 375px) {
    #front-end-developer {
	    height: 145vh;
	}
	#introduction p{
		font-size: 1rem;
	}
}	

@media only screen and (max-width: 320px) {	
	.masthead .intro-body h1{
		font-size: 1.5rem;
	}	
}