$theme-black: #000000;
$theme-blue: #5876b3;
$theme-white: #ffffff;
$font-primary: 'Jost', sans-serif;
$font-secondary: 'Chelsea Market', cursive;

@mixin breakpoint($class) {
  @if $class == iphone5 {
    @media (max-width: 350px) { @content; }
  }
  @else if $class == sm {
    @media (min-width: 769px) { @content; }
  }
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: small-only, sm, md, lg";
  }
}
