html{
  overflow-x: hidden;  
}
body{
  height: 100%;
  min-width: 320px;  
	font-size: 16px;
	color: #000000;
	letter-spacing: 1px;
	font-family: 'Dosis', Arial, sans-serif;
	background-color: #ffffff;
  overflow-x: hidden;
}
#page-top{
  overflow: hidden !important;
}
::-moz-selection {
  background: #d6d6d6;
  text-shadow: none;
}
::selection {
  background: #d6d6d6;
  text-shadow: none;
}
img::selection {
  background: transparent; 
}
img::-moz-selection {
  background: transparent; 
}
button:focus{
  outline: none!important;
  box-shadow: none!important;
}
.flex-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; 
  align-items: center;  
}
.section-title{
  margin-top: 15vh;
  font-size: 3rem;
  width: 100%;
  position: absolute;
}
.black-btn{
  border: 2px solid #000000;
  font-size: 1.25rem;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #000000;
  color: #ffffff;
}
.black-btn:hover{
  color: #000000;
  background-color: transparent;
}
.black-btn:focus{
  outline: none;
}
/* ----------- preloader ----------- */
.loader-overlay {
  width: 100vw;
  height: 100vh;
  background: url('../img/loader.gif') center no-repeat #fbfbfb;
  background-size: 170px;
  z-index: 9999;
  position: fixed;
  overflow: hidden;
}
/* ----------- navigation ----------- */
.main-nav{
	padding: 0 1rem;
  background-color: #ffffff;
}
.main-nav a, .main-nav .navbar-toggler{
	color: #000000;
	font-size: 1.5rem;
}
.navbar-nav a{
	margin: 0 3px;
}
.navbar-brand{
	font-weight: bold;
}
.main-nav .nav-item.active {
  background-image: url('../img/active-bg-2.png');
  background-repeat: no-repeat;
  background-size: 100% 15px;
  background-position: bottom;
} 
/* ----------- home ----------- */
.home{
  display: table;
	width: 100%;
	height: 100vh;
  min-height: 650px;
  background-image: url("../img/home-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.job-wanted-msg img{
  width: 175px;
  height: auto;
  position: absolute;
  top: 60px;
  -webkit-animation: rightToLeft 25s infinite;
  animation: rightToLeft 25s infinite;
}
@-webkit-keyframes rightToLeft{
  from{
  -webkit-transform: translate(95vw);
  transform: translate(95vw);
  visibility: visible;
  }
  to{
  -webkit-transform: translate(0);
  transform: translate(0);
  }
}
@keyframes rightToLeft{
  from{
  -webkit-transform: translate(95vw);  
  transform: translate(95vw);
  visibility: visible;
  }
  to{
  -webkit-transform: translate(0);
  transform: translate(0);
  }
}
.intro-container{
  text-align: center;
  padding-bottom: 90px;
}
#introduction{
  max-width: 35%;
  margin: 0 auto;
}
/* ----------- about ----------- */
#about{
  position: relative;
  height: 100vh;
  min-height: 700px;
}
#aboutMe{
  width: 100%;
  height: 100vh;
  min-height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-color: #ffffff;
}
#aboutMe .container-fluid, #aboutMe .row{
  height: 100%;
}
#aboutCoding{
  width: 100%;
  height: 100vh;
  min-height: 700px;
  display: none;
}
.left-bubble{
  background-image: url(../img/left-bubble.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  margin-left: 20%;
  height: 95%;  
}
.left-bubble p{
  padding: 10%;
}
.right-bubble p{
  padding: 15% 5%;
}
.right-bubble{
  background-image: url(../img/right-bubble.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  margin-right: 30%;
  margin-top: 10%;
  padding-left: 15%;
  height: 100%; 
}
.word-bubble{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; 
  align-items: center;
}
.word-bubble p{
  width: 100%;
  margin-bottom: 0;
  font-size: 2.2vw;
}
#coding-bg-btn, #my-bg-btn{
  color: #5876b3;
  text-decoration: underline;
  cursor: pointer;
}
.fix-wow-bug{
  height: 1px;
  width: 1px;
  background:transparent;
}
.back-to-home-btn img{
  width: 9vw;
  min-width: 120px;
}
/* ----------- about min ----------- */
#aboutMin{
  width: 100%;
  height: 100vh;
  min-height: 700px;  
  display: none;
}
#aboutMin .container-fluid, #aboutMin .row{
  height: 100%;
}
#aboutMin .aside-img{
  height: 100%;
  background-image: url(../img/min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#aboutMin .self-intro{
  position: relative;
  height: 100%;
  background-image: url(../img/min-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; 
  align-items: center;
}
#aboutMin .self-intro p{
  color: #ffffff;
  width: 60%;
  font-size: 1.7rem;
}
#aboutMin #right-back{
  position: absolute;
  right: 5%;
  bottom: 55px;
  color: #ffffff;
  font-size: 1.7rem;
}
.white-links{
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.white-links:hover{
  color: #ffffff;
  margin-left: 10px;
}
/* ----------- about coding ----------- */
#aboutCoding .container-fluid, #aboutCoding .row{
  height: 100%;
}
#aboutCoding .aside-img{
  height: 100%;
  background-image: url(../img/min-illustration.jpg);
  background-repeat: no-repeat;
  background-size: 95% 100%;
  background-position: center;
  position: relative;
}
#aboutCoding .aside-img img{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
#aboutCoding .self-intro{
  position: relative;
  height: 100%;
  background-image: url(../img/coding-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: center;  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; 
  align-items: center;
}
#aboutCoding .self-intro p{
  font-size: 1.7rem;
  width: 70%;
  padding-bottom: 25px;
}
.code-lines{
  margin-left: 50px;
  display: block;
}
#aboutCoding #left-back{
  position: absolute;
  left: 5%;
  bottom: 55px;
  font-size: 1.7rem;
}
/* ----------- portfolio ----------- */
#section2{
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  background-color: #ffffff;
}
#section2 .row, #section2 .container{
  height: 100%;
} 
.center-content{
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; 
  align-items: center;
}
#projectName{
  font-weight: bold;
  font-size: 2rem;
/*  padding: 20px 15px;*/
  color: #000;
  margin-bottom: 20px;
/*  background-color: #5876b3;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;*/
}
.paragraph-title{
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
/*  padding: 20px 15px;  */
}
#techStack{
  font-size: 1.25rem;  
  padding: 10px 0;
}
.web-demo-container{

}
#section0 .browser-frame{
  width: 100%;
  margin-bottom: -3px;
}
#section0 #project-player{
  width: 100%;
  border-radius: 0 0 20px 20px; 
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);   
}
.project-info-container{
  height: 100%;
/*  margin-left: 10%;*/
/*  border-radius: 15px;*/
  padding: 45px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;  
  flex-direction: column;
  background-image: url('../img/portfolio/project-word-bubble.png');
  background-repeat: no-repeat;
  background-size: 100%;
/*  -webkit-box-shadow: 0px 0px 7px 0px rgba(181,181,181,0.7);
  -moz-box-shadow: 0px 0px 7px 0px rgba(181,181,181,0.7);
  box-shadow: 0px 0px 7px 0px rgba(181,181,181,0.7);*/
}
#section2{
  position: relative;
  height: 100%;
  width: 100%;
}
#section2 .container-fluid{
  height: 100%;
}

.portfolio-section {
  width:100%;
  height:100%;
  overflow:hidden;
}
.portfolio-section #view-web-projects{
  display: block;
  padding-top: 100px;
  font-size: 1.5rem;
  color: #000000;
}
.portfolio-section #view-design-projects{
  display: block;
  padding-top: 100px;
  font-size: 1.5rem;
  color: #000000;  
}
.design-section{
  position: relative;
  background-image: url('../img/portfolio/design-portfolio-2.jpg');
  background-size: 90%;
  border-radius: 15px;
  max-height: 600px;
  height: 65%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(153,153,153,0.4);
  -moz-box-shadow: 0px 0px 15px 0px rgba(153,153,153,0.4);
  box-shadow: 0px 0px 15px 0px rgba(153,153,153,0.4);
  background-position: 85% 70%;
  background-repeat: no-repeat;
  transition:0.5s ease-in-out;
  width: 85%;
  text-align: center;
}
.web-section{
  position: relative;
  text-align: center;
  border-radius: 15px;
  background-image: url('../img/portfolio/web-portfolio-2.jpg');
  background-size: 90%;
  max-height: 600px;
  height: 65%;
  width: 85%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(153,153,153,0.4);
  -moz-box-shadow: 0px 0px 15px 0px rgba(153,153,153,0.4);
  box-shadow: 0px 0px 15px 0px rgba(153,153,153,0.4);
  background-position: 85% 70%;
  background-repeat: no-repeat;
  transition:0.3s ease-in-out;
}
.web-section:hover, .design-section:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);  
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(153,153,153,0.6);
  -moz-box-shadow: 0px 0px 15px 0px rgba(153,153,153,0.6);
  box-shadow: 0px 0px 15px 0px rgba(153,153,153,0.6);
}
.view-projects{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  transition:0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-projects:hover{
  opacity: 0.95;
  text-decoration: none;
}
.view-projects span{
  color: #000;
  height: 45px;  
  font-size: 1.5rem;
  display: block;
  background-image: url('../img/active-bg-2.png');
  background-repeat: no-repeat;
  background-size: 100% 15px;
  background-position: bottom;
}
/* ---------------------- contact ---------------------------- */
.contact-modal{
  z-index: 9999;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  padding: 20vh 0;
  height: auto;
  position: fixed;
  background: rgba(255,255,255,1);
  display: none;
  overflow-y: scroll;
}
#close-modal{
  position: absolute;
  z-index:10000;
  top: 2%;
  right: 2%;
}
.contact-modal h2{
  font-weight: bold;
}
.contact-form label{
  font-family: 'Dosis', Arial, sans-serif;
  font-size: 1.5rem;
}
.contact-form input, .contact-form textarea{
  border: 2px solid #000000;
  border-radius: 20px;
}
.contact-form input:focus, .contact-form textarea:focus{
  border: 2px solid #b7b7b7;
  outline: none!important;
  box-shadow: none;
}
.submit-button{
  margin-top: 5%;
  width: 100%;
  background-color:#000000;
  color: #ffffff;
  font-size: 1.5rem;
  border: 2px solid #000000;
  font-weight: bold;
  border-radius: 20px;
}
.submit-button:hover{
  background-color: #ffffff;
  color: #000000;
}
.submit-button:focus{
  outline: none!important;
  box-shadow: none;
}
#section3{
  overflow: hidden;
  width: 100%;
  background-image: url('../img/contact/contact-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100%; 
}
#phone{
  height: 100vh;
  min-height: 770px;
  background-image: url('../img/contact/iphone.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; 
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
}
#social-media{
  text-align: center;
  width: 29%;
  max-width: 300px;
}
#social-media a:hover{
  cursor: pointer;
}
#social-media a img{
  width: 48%;
  max-width: 140px;
  height:auto;
  padding: 6%;
}
.zoom{
  transition: all 0.2s ease;
}
.zoom:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
/* ---------------------- Resume ---------------------------- */
#personal-info{
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #fbfafa;
  height: auto;
}
#personal-info h1{
  font-size: 1.5rem;
  font-weight: bold;
}
#personal-info p{
  font-size: 1.2rem;
}
#personal-info span{
  padding-left: 9rem;
}
#personal-info .btn{
  padding: 0;
}
.social-media{
  text-align: right;
  margin-top: 5.5rem;
}
.social-media a{
  cursor: pointer;
}
.social-media a:hover{
  text-decoration: none;
}
.social-media a:focus{
  box-shadow: none;
}
.social-media img{
  height: auto;
  max-width:4rem;
}
.company-logo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; 
  align-items: center;
}
.company-logo img{
  max-width: 270px;
}
#work-experience{
  margin-top: 2rem;
}
#work-experience h2{
  font-weight: bold;
  font-size: 2.5rem;
}
#work-experience h3{
  font-weight: bold;
}
#work-experience .job-title{
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
}
#work-experience .row{
  padding: 2.5rem 0;
}

#work-experience p, #work-experience li{
  font-size: 1.2rem;
}
.job-descriptions:nth-child(odd) {
  text-align: right;
}
.job-descriptions:nth-child(even) {
  text-align: left;
}
/* ----------- footer ----------- */
footer{
  font-size: 14px;
  padding: 10px 0; 
}
footer p{
  margin: 5px;
}