body{
	color: #313131;
	font-family: 'Ubuntu', sans-serif;
}
#about-project{
	width: 100vw;
	background-color: #BFDBE3;
}
.project-img{
	height: 600px;
	background-image: url('img/nichaShirt.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#sectionImg{
	height: 70%;
}
#intro{
	height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
}
#intro span{
	font-size: 1.7rem;
}
#learnMore{
	margin-top: 20px;
	width: 130px;
	text-align: center;
	color: #313131;
	padding: 3px 8px;
	border: 2px solid #313131;
}
#learnMore:hover{
	text-decoration: none;
}
#rewards{
	padding: 2rem;
}
#rewardIcon{
	margin-bottom: 2.5rem;
	height: 80px;
}
@media (max-width: 767px) {
	.project-img{
		height: 350px;
	}
	.rewardOption{
		margin-bottom: 2rem;
	}
}